body {
	width: auto;
	height: auto;
}

#ibody {
	background-color: aqua;
	min-width: 768px;
	max-width: 1024px;
	min-height: 768px;
	max-height: 1024px;
	width: auto;
	height: auto;
	margin: auto;
}

#dir_div {
	background: blue;
	width: 100px;
	height: 100px;
	margin-bottom: 0;
	left: 0;
	bottom: 0;
}