body {
	text-align: center;
}


#player_info_bar {
	margin: auto;
	width: 960px;
	height: 50px;
}

.player_bar {
	width: 300px;
	height: 50px;
}

#f_player_bar {
	float: left;
}

#centre_div {
	position: absolute;
	width: 960px;
	height: 50px;
}

#centre_bar {
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: auto;
}

.score {
	font-size: 1.2em;
	font-weight: bolder;
	color: red;
}



#w_player_bar {
	float: right;
}

.player_head {
	float: left;
	border: 1px solid black;
	width: 48px;
	height: 48px;
	box-shadow:0 -3px 10px red;
}

.life_div {
	float: left;
	width: 150px;
	height: 50px;
}

.player_score {
	float: left;
	width: 92px;
	height: 42px;
	border: 4px dashed red;	
	background-color: black;
	line-height: 50px;
}

#f_player_life {
	float: left;
	background: url("../images/player_heart.png");
	height: 50px;
	width: 150px;
}

#w_player_life {
	float: right;
	background: url("../images/player_heart.png");
	height: 50px;
	width: 150px;
}

#dom_list {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
}


.zombie_fire{
	position: absolute;
	background: url("../images/zombie_fire.gif");
	width: 30px;
	height: 55px;
	z-index: 1;
	top: 100px;
	left: 200px;
	display: none;
}





#canvas_div {
	margin: auto;
	width: 960px;
	height: 650px;
	text-align: left;
}

#f_canvas {
	position: absolute;
}

#info_bar {
	margin: auto;
	width: 960px;
	text-align: center;
}

#info_bar span{
	display: inline-block;
	width: 50px;
}


#control_bar {
	margin: auto;
	width: 960px;
	text-align: center;
	height: 40px;
}

.chat_bub {
	font-size: 10px;
	font-weight: bolder;
  position:relative;
  padding:5px 15px;
  border:3px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates part of the curve */
.chat_bub:before {
  content:"";
  position:absolute;
  bottom:-10px; /* value = - border-top-width - border-bottom-width */
  left:10px; /* controls horizontal position */
  border-width:10px 10px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;

}

/* creates part of the curved pointy bit */
.chat_bub:after {
  content:"";
  position:absolute;
  bottom:-5px; /* value = - border-top-width - border-bottom-width */
  left:13px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:7px 7px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;

}





.css3button, #control_bar button{
float: left;
font:bold 20px "Comic Sans MS", cursive, sans-serif;
font-style:normal;
color:#909090;
background:#dedede;
border:1px none #bbb;
text-shadow:0px 1px 0px #fff;
box-shadow:1px 5px 10px #d1cfd1;
-moz-box-shadow:1px 5px 10px #d1cfd1;
-webkit-box-shadow:1px 5px 10px #d1cfd1;
border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
padding:5px 10px;
cursor:pointer;
margin:0 8px 0 0;

-moz-user-select:	none;
-webkit-user-select: none;
}
.css3button:active, #control_bar button:active{
cursor:pointer;
position:relative;
top:2px;
}

